Data Preprocessing
Data Cleaning

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("Outbreak_240817.csv")
data.head()

,Id,source,latitude,longitude,region,country,admin1,localityName,localityQuality,observationDate,reportingDate,status,disease,serotypes,speciesDescription,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered
0,230399,OIE,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/17,22/08/17,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0
1,230381,OIE,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/17,18/08/17,Confirmed,African swine fever,NaN,"domestic, swine",122.0,6.0,1.0,0.0,0.0
2,230333,OIE,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/17,16/08/17,Confirmed,Foot and mouth disease,NaN,"domestic, cattle",1283.0,112.0,0.0,NaN,7.0
3,230396,OIE,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/17,22/08/17,Confirmed,Influenza - Avian,H5N8 HPAI,"wild, unspecified bird",NaN,1.0,1.0,0.0,0.0
4,230371,OIE,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdn치,Exact,15/08/17,17/08/17,Confirmed,African swine fever,NaN,"wild, wild boar",NaN,1.0,1.0,NaN,NaN

In [3]:
dataa=data.drop('Id',1)

In [4]:
dataa.describe()

,latitude,longitude,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered
count,17008.000000,17008.000000,9.757000e+03,14535.000000,14168.000000,13005.000000,12235.000000
mean,39.168443,37.774981,7.500692e+03,328.183007,199.190147,3765.857978,100.211443
std,16.817821,41.034310,4.427669e+04,5821.929892,4109.453986,28355.192298,4341.287763
min,-36.856210,-146.490000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,32.090000,11.950000,1.100000e+01,1.000000,0.000000,0.000000,0.000000
50%,43.821579,24.511700,9.000000e+01,1.000000,1.000000,0.000000,0.000000
75%,48.102805,43.424390,7.160000e+02,5.000000,2.000000,5.000000,0.000000
max,68.392000,144.847374,2.000000e+06,460000.000000,439799.000000,913590.000000,339006.000000

In [5]:
np.sum(data.isnull())

Id                       0
source                   0
latitude                 0
longitude                0
region                   0
country                  0
admin1                   0
localityName             0
localityQuality          0
observationDate        502
reportingDate            0
status                   0
disease                  0
serotypes             6941
speciesDescription    1648
sumAtRisk             7251
sumCases              2473
sumDeaths             2840
sumDestroyed          4003
sumSlaughtered        4773
dtype: int64

In [6]:
data['sumAtRisk']=data['sumAtRisk'].fillna(data['sumAtRisk'].mean())
data['sumCases']=data['sumCases'].fillna(data['sumCases'].mean())
data['sumDeaths']=data['sumDeaths'].fillna(data['sumDeaths'].mean())
data['sumDestroyed']=data['sumDestroyed'].fillna(data['sumDestroyed'].mean())
data['sumSlaughtered']=data['sumSlaughtered'].fillna(data['sumSlaughtered'].mean())

In [7]:
from scipy.stats import mode
data['observationDate']=data['observationDate'].fillna(data['observationDate']).dropna().mode()[0]
data['serotypes']=data['serotypes'].fillna(data['serotypes']).dropna().mode()[0]
data['speciesDescription']=data['speciesDescription'].fillna(data['speciesDescription']).dropna().mode()[0]

In [8]:
np.sum(data.isnull())

Id                    0
source                0
latitude              0
longitude             0
region                0
country               0
admin1                0
localityName          0
localityQuality       0
observationDate       0
reportingDate         0
status                0
disease               0
serotypes             0
speciesDescription    0
sumAtRisk             0
sumCases              0
sumDeaths             0
sumDestroyed          0
sumSlaughtered        0
dtype: int64

In [9]:
from scipy import stats
data1=data.drop(['observationDate','serotypes','speciesDescription'],1)
z=np.abs(stats.zscore(data1._get_numeric_data()))
print(z)
data=data[(z<3).all(axis=1)]
print(data.shape)

[[1.64235510e+00 3.98805605e+00 1.69984244e-01 ... 4.99098816e-02
  1.86474027e+00 2.72170547e-02]
 [1.63980123e+00 9.31693487e-01 8.67084633e-01 ... 5.28427747e-02
  1.51886608e-01 2.72170547e-02]
 [1.63299092e+00 3.58238754e+00 1.84323398e-01 ... 5.31094014e-02
  0.00000000e+00 2.53158807e-02]
 ...
 [1.61836721e+00 1.93311023e+00 8.59925323e-01 ... 7.57798515e-18
  0.00000000e+00 3.85961522e-18]
 [1.61822532e+00 1.90427396e+00 8.40706377e-01 ... 7.57798515e-18
  0.00000000e+00 3.85961522e-18]
 [1.61850909e+00 2.00717842e+00 1.01975133e+00 ... 7.57798515e-18
  0.00000000e+00 3.85961522e-18]]
(16346, 20)

In [10]:
data1.head()

,Id,source,latitude,longitude,region,country,admin1,localityName,localityQuality,reportingDate,status,disease,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered
0,230399,OIE,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,22/08/17,Confirmed,Influenza - Avian,248000.000000,12.0,12.0,50000.000000,0.000000
1,230381,OIE,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,18/08/17,Confirmed,African swine fever,122.000000,6.0,1.0,0.000000,0.000000
2,230333,OIE,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/17,Confirmed,Foot and mouth disease,1283.000000,112.0,0.0,3765.857978,7.000000
3,230396,OIE,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,22/08/17,Confirmed,Influenza - Avian,7500.691709,1.0,1.0,0.000000,0.000000
4,230371,OIE,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdn치,Exact,17/08/17,Confirmed,African swine fever,7500.691709,1.0,1.0,3765.857978,100.211443

Data source : https://www.kaggle.com/tentotheminus9/empres-global-animal-disease-surveillance