LATIHAN MINGGU KE 6

In [31]:
import pandas as pd
import numpy as np

In [96]:
sydney=pd.read_csv("weatherAUS.csv")
sydney.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,0.0,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,0.0,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,0.0,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,0.0,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

In [97]:
sydney.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RISK_MM
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000,142193.000000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339,2.360682
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665,8.477969
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000,0.000000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000,0.000000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000,0.000000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000,0.800000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000,371.000000

In [98]:
np.sum(sydney.isnull())

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RISK_MM           3267
RainTomorrow      3267
dtype: int64

In [99]:
sydney["MinTemp"]=sydney["MinTemp"].fillna(sydney["MinTemp"].mean())
sydney["MaxTemp"]=sydney["MaxTemp"].fillna(sydney["MaxTemp"].mean())
sydney["Rainfall"]=sydney["Rainfall"].fillna(sydney["Rainfall"].mean())
sydney["Evaporation"]=sydney["Evaporation"].fillna(sydney["Evaporation"].mean())
sydney["Sunshine"]=sydney["Sunshine"].fillna(sydney["Sunshine"].mean())
sydney["WindGustSpeed"]=sydney["WindGustSpeed"].fillna(sydney["WindGustSpeed"].mean())
sydney["WindSpeed9am"]=sydney["WindSpeed9am"].fillna(sydney["WindSpeed9am"].mean())
sydney["WindSpeed3pm"]=sydney["WindSpeed3pm"].fillna(sydney["WindSpeed3pm"].mean())
sydney["Humidity9am"]=sydney["Humidity9am"].fillna(sydney["Humidity9am"].mean())
sydney["Humidity3pm"]=sydney["Humidity3pm"].fillna(sydney["Humidity3pm"].mean())
sydney["Pressure9am"]=sydney["Pressure9am"].fillna(sydney["Pressure9am"].mean())
sydney["Pressure3pm"]=sydney["Pressure3pm"].fillna(sydney["Pressure3pm"].mean())
sydney["Cloud9am"]=sydney["Cloud9am"].fillna(sydney["Cloud9am"].mean())
sydney["Cloud3pm"]=sydney["Cloud3pm"].fillna(sydney["Cloud3pm"].mean())
sydney["Temp9am"]=sydney["Temp9am"].fillna(sydney["Temp9am"].mean())
sydney["Temp3pm"]=sydney["Temp3pm"].fillna(sydney["Temp3pm"].mean())
sydney["RISK_MM"]=sydney["RISK_MM"].fillna(sydney["RISK_MM"].mean())

In [100]:
np.sum(sydney.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [79]:
from scipy.stats import mode
sydney['WindGustDir']=sydney['WindGustDir'].fillna(sydney['WindGustDir']).dropna().mode()[0]
sydney['WindDir9am']=sydney['WindDir9am'].fillna(sydney['WindDir9am']).dropna().mode()[0]
sydney['WindDir3pm']=sydney['WindDir3pm'].fillna(sydney['WindDir3pm']).dropna().mode()[0]
sydney['RainToday']=sydney['RainToday'].fillna(sydney['RainToday']).dropna().mode()[0]
sydney['RainTomorrow']=sydney['RainTomorrow'].fillna(sydney['RainTomorrow']).dropna().mode()[0]

In [101]:
np.sum(sydney.isnull())

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation          0
Sunshine             0
WindGustDir      10326
WindGustSpeed        0
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am          0
Pressure3pm          0
Cloud9am             0
Cloud3pm             0
Temp9am              0
Temp3pm              0
RainToday         3261
RISK_MM              0
RainTomorrow      3267
dtype: int64

In [102]:
from scipy import stats
sydney1=sydney.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
z=np.abs(stats.zscore(sydney1._get_numeric_data()))
print(z)
sydney=sydney[(z<3).all(axis=1)]
print(sydney.shape)

[[1.89446615e-01 4.53363105e-02 2.10071794e-01 ... 1.40531282e-02
  1.70232282e-02 2.81630573e-01]
 [7.53100728e-01 2.65043084e-01 2.81649838e-01 ... 3.24642790e-02
  3.81984952e-01 2.81630573e-01]
 [1.10901003e-01 3.49692009e-01 2.81649838e-01 ... 6.21684769e-01
  2.21401794e-01 2.81630573e-01]
 ...
 [1.06728318e+00 5.18989861e-01 2.81649838e-01 ... 6.96308433e-01
  6.44757393e-01 2.81630573e-01]
 [6.90264238e-01 5.33098015e-01 2.81649838e-01 ... 2.93157571e-01
  6.30158924e-01 2.81630573e-01]
 [4.25083451e-01 2.10513377e-14 2.81649838e-01 ... 3.08663373e-01
  1.14362992e-01 4.27019439e-14]]
(134753, 24)

In [105]:
sydney2=sydney.drop(['Date','Location','WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow'],1)
sydney2.shape

(134753, 17)

In [106]:
#normalisasi
from sklearn.preprocessing import normalize
xnorm=normalize(sydney2,norm='l2') #default norm l2, other are l1 and max
xnorm=pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
134748,0.001934,0.016161,0.0,0.003777,0.005257,0.021410,0.008978,0.007597,0.035222,0.016575,0.707626,0.704656,0.003072,0.003115,0.006975,0.015470,0.000000
134749,0.002489,0.017492,0.0,0.003781,0.005262,0.015211,0.008988,0.006223,0.038718,0.014519,0.707643,0.704601,0.003075,0.003118,0.007536,0.016939,0.000000
134750,0.003742,0.018639,0.0,0.003789,0.005274,0.025637,0.006236,0.006236,0.036723,0.016629,0.707433,0.704523,0.003082,0.003125,0.008661,0.018084,0.000000
134751,0.005410,0.018728,0.0,0.003793,0.005279,0.019422,0.009017,0.004855,0.035376,0.016647,0.707095,0.705083,0.002081,0.001387,0.010474,0.018035,0.000000
134752,0.010317,0.016078,0.0,0.003786,0.005270,0.027720,0.011771,0.011771,0.042928,0.024926,0.706381,0.704789,0.005539,0.005539,0.010386,0.014471,0.001635

In [111]:
from sklearn.preprocessing import LabelEncoder
kategori=['WindGustDir','WindDir9am','WindDir3pm','RainToday','RainTomorrow']
for feature in kategori:
    if feature in sydney.columns.values:
        sydney[feature]=LabelEncoder().fit_transform(sydney[feature])
sydney.tail()

TypeError: '<' not supported between instances of 'str' and 'float'

In [112]:
#feature selection (mencari skor)
from sklearn.feature_selection import SelectKBest, chi2, f_regression
x=sydney2.iloc[:,0:19]
y=sydney.iloc[:,-1]
selector=SelectKBest(f_regression, k="all").fit(x,y)
X_new=selector.transform(x)
scores=selector.scores_
scores

TypeError: can only concatenate str (not "float") to str